<header>

  <nav class="nav">
    <a routerLink="/index"><i class='fa fa-home'></i>&nbsp;&nbsp;Home</a>
    <a routerLink="/gallery"><i class='fa fa-leaf'></i>&nbsp;&nbsp;Gallery</a>
    <div class="dropdown">
      <span class="p1"><i class="fa fa-fire"></i>&nbsp;&nbsp;Services</span>
      <div class="dropdown-content">
          <p>
              <a routerLink="/pre_wedding" id="sam">Pre wedding</a>
          </p>
          <p>
              <a routerLink="/wedding" id="sam">Wedding</a>
          </p>
          <p>
              <a routerLink="/portrait" id="sam">Portrait</a>
          </p>
          <p>
              <a routerLink="/events" id="sam">Events</a>
          </p>
          <p>
              <a routerLink="/products" id="sam">Products</a>
          </p>
          <p>
              <a routerLink="/travel" id="sam">Travel</a>
          </p>
      </div>
  </div>
    <a routerLink="/"><i class='fa fa-sign-out'></i>&nbsp;&nbsp;Log out</a>
    <!-- <a routerLink="register">Register</a> -->
  </nav>
  <h1><img src="/assets/img/logo.png" style="height:30px; width:30px;">Hina <span class="studio">Studios</span></h1>
</header>
<div  class="mainImg">
  <img src="/assets/img/pw main.png" class="img1">
  <div class="prg">
      <p>
          We promise on one thing, we give our best service to make "Memorable pre wedding photoshoot".<br>
          We will guide you to choose the best location based on your ideas. We will guide you with greate look and comfort before shoot.<br>
          Creative photoshoot with great photographers and we will delivery on time.
      </p>
  </div>
</div>
  <table style="justify-content: center; left: 8%;border-spacing: 50px; margin: 0 auto;">
    <tr>
      <td><div class="price"  >
        <a routerLink="/booknow"><img src="/assets/img/price.jpg" class="priceimg" width="250px" height="150px">

          <div class="centered">&#8377;5000</div>
          <div class="Pcenter">Per Day</div>
        <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Photos</i></div></a>
    </div></td>
    <td><div class="price"  >
      <a routerLink="/booknow"><img src="/assets/img/price.jpg" class="priceimg" width="250px" height="150px">

        <div class="centered">&#8377;6000</div>
        <div class="Pcenter">Per Day</div>
      <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Videos</i></div></a>
  </div></td>
    </tr>
  </table>



<div class="works">
  <p>Gallery</p>
  <div>
  <table class="table1" style="border-spacing: 8px;margin-top: 20px;">
      <tr>
          <td>
              <div class="img2">
                  <img src="/assets/img/prework1.jpg"  width="250px" height="170px">
              </div>
          </td>
          <td>
              <div class="img2" >
                  <img src="/assets/img/prework2.png"  width="250px" height="170px">
              </div>
          </td>
          <td>
              <div class="img2" >
                  <img src="/assets/img/prework3.jpeg"  width="250px" height="170px">
              </div>
          </td>
          <td>
              <div class="img2" >
                  <img src="/assets/img/prework4.jpg"  width="250px" height="170px">
              </div>
          </td>
      </tr>
  </table>
</div>

</div>
<div class="bookNow">
  <a href="/booknow"><button type="submit">Book Now</button></a>
</div>
<aside >
  <ul class="content" type="none">
    <li><i class="fa fa-user-circle" style="color: white;"></i><a href="/profile" style="text-decoration: none; color: white;">&nbsp;&nbsp;Profile</a></li>
    <li><i class="fa fa-arrow-circle-right" style="color: white;"></i><a href="/booknow" style="text-decoration: none; color: white;">&nbsp;&nbsp;Book now</a></li>
</ul>
</aside>
