<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <header>

    <nav class="nav">
      <a routerLink="/"><i class='fa fa-home'></i>&nbsp;&nbsp;Home</a>
      <a routerLink="/gallery"><i class='fa fa-leaf'></i>&nbsp;&nbsp;Gallery</a>
      <div class="dropdown">
        <span class="p1"><i class="fa fa-fire"></i>&nbsp;&nbsp;Services</span>
        <div class="dropdown-content">
            <p>
                <a href="/pre_wedding" id="sam">Pre wedding</a>
            </p>
            <p>
                <a href="/wedding" id="sam">Wedding</a>
            </p>
            <p>
                <a href="/portrait" id="sam">Portrait</a>
            </p>
            <p>
                <a href="/events" id="sam">Events</a>
            </p>
            <p>
                <a href="/products" id="sam">Products</a>
            </p>
            <p>
                <a href="/travel" id="sam">Travel</a>
            </p>
        </div>
    </div>

      <a routerLink="/login"><i class='fa fa-sign-in'></i>&nbsp;&nbsp;Login</a>
      <!-- <a routerLink="register">Register</a> -->
    </nav>
    <h1><img src="/assets/img/logo.png" style="height:30px; width:30px;">Hina <span class="studio">Studios</span></h1>
  </header>
  <div class="content">
    <h3><img src="/assets/img/logo.png" style="height:100px; width:100px;">Hina <span class="studio">Studios</span>
    </h3>
  </div>
  <div class="about">
    <h2>About us</h2>
    <p>
      we are providing many services like wedding, pre wedding, portrait and also used to shoot a wide variety of products etc.
      You can see the sample photography for each service which we are providing and each service has a different packages.
      You just contact us to capture the beauty.
    </p>
  </div>
  <div class="Sabout">
    <p class="p2">
        Services
    </p>
    <!-- <p class="desc" style="margin: 0 auto;margin-top: 30px; display: flex; flex-wrap: wrap; width: 700px; color: white;">
        we are providing many services like wedding, pre wedding, portrait and also used to shoot a wide variety of products etc.
        You can see the sample photography for each service which we are providing and each service has a different packages.
        You just contact us to capture the beauty.
    </p> -->
    <table class="table1" style="justify-content: center; left: 8%;border-spacing: 50px; margin: 0 auto;">
      <tr>
            <td>
                <div class="img1" >
                    <a routerLink="/pre_wedding"><img src="/assets/img/pw1.jpg"  width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Pre wedding</i></div></a>
                </div>
            </td>
            <td>
                <div class="img1" >
                    <a routerLink="/wedding"><img src="/assets/img/wedding.jfif"   width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Wedding</i></div></a>
                </div>
            </td>
            <td>
                <div class="img1" >
                    <a routerLink="/portrait"><img src="/assets/img/p1.jpg"   width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Portrait</i></div></a>
                </div>
            </td>
            <td>
                <div class="img1" >
                    <a routerLink="/events"><img src="/assets/img/e1.jpg"  width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Events</i></div></a>
                </div>
            </td>
        </tr>

    </table>
    <table style="justify-content: center; border-spacing: 50px; margin: -40px auto;">
        <tr>
            <td>
                <div class="img1" >
                    <a routerLink="/products"><img src="/assets/img/pr1.jpg"   width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Products</i></div></a>
                </div>
            </td>
            <td>
                <div class="img1" >
                    <a routerLink="/travel"><img src="/assets/img/tr1.jpeg"   width="150px" height="190px">
                    <div style="position:relative;top: 10px;text-align: center; font-size: large;"><i class="fa fa-camera" style="color: black;" > Travel</i></div></a>
                </div>
            </td>
        </tr>
    </table>
  </div>
  <div class="works">
  <p class="galtitle">Gallery</p>
  <div style="margin: 0 auto;">
  <table class="table1" style="border-spacing: 38px;">
    <tr>
        <td>
            <div class="img2" >
                <img src="/assets/img/work1.jfif"  width="250px" height="170px">
            </div>
        </td>
        <td>
            <div class="img2" >
                <img src="/assets/img/work2.jfif"  width="250px" height="170px">
            </div>
        </td>
        <td>
            <div class="img2" >
                <img src="/assets/img/work3.jfif"  width="250px" height="170px">
            </div>
        </td>

    </tr>
    <tr>
        <td>
            <div class="img2" >
                <img src="/assets/img/work5.jfif"  width="250px" height="170px">

            </div>
        </td>
        <td>
            <div class="img2" >
                <img src="/assets/img/work6.jfif"  width="250px" height="170px">
            </div>
        </td>
        <td>
            <div class="img2" >
                <img src="/assets/img/work7.jfif"  width="250px" height="170px">
            </div>
        </td>


    </tr>
    <tr>
      <td>
        <div class="img2" >
            <img src="/assets/img/work4.jfif"  width="250px" height="170px">
        </div>
    </td>
    <td>
      <div class="img2" >
          <img src="/assets/img/work8.jfif"  width="250px" height="170px">
      </div>
  </td>
    <td>
      <div class="img2" >
          <img src="/assets/img/port 1.jpg"  width="250px" height="170px">
      </div>
  </td>
    </tr>
  </table>
  </div>


  </div>



<aside>
  <ul type="none">
      <li><a href="https://instagram.com/gowtham_r_27?igshid=Mzc0YWU1OWY=" style="text-decoration: none;color:#fff724;"><i class="fa fa-instagram"></i></a></li>
      <li><a href=" https://wa.me/qr/J4D5S7W7ATT4F1" style="text-decoration: none;color:#fff724;"><i class="fa fa-whatsapp"></i></a></li>
      <li><a href="mailto:2k19cse027@kiot.ac.in" style="text-decoration: none;color:#fff724;"><i class="fa fa-envelope"></i></a></li>
      <li><a href="tel:+91 9095173256" style="text-decoration: none;color:#fff724;"><i class="fa fa-phone"></i></a></li>
  </ul>
</aside>

<footer>
  <div class="faboutus">
    <h4><img src="/assets/img/logo.png" style="height:30px; width:30px;">Hina <span class="studio">Studios</span></h4>
    <p class="fabout">About us</p>
    <p class="fpara">we are providing many services like wedding, pre wedding, portrait and also used to shoot a wide variety of products etc.
      You can see the sample photography for each service which we are providing and each service has a different packages.
      You just contact us to capture the beauty.</p>
  </div>
  <div class="fcontactus">

  <p class="fcontact">Contact</p>
  <P>Name: Gowtham</P>
  <p class="mail">Gmail :<a href="mailto:2k19cse027@kiot.ac.in" style="text-decoration: none; color: white;"> 2k19cse027@kiot.ac.in</a></p>
  <p class="phone">Mobile no :<a href="tel:+91 9944962896" style="text-decoration: none; color: white;"> 9944962896</a></p>
  <p class="phone">Location : Salem</p>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125042.34464744675!2d78.06825659196454!3d11.653726630748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf1ccf52cba0b%3A0xee9989007068ca47!2sSalem%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1680280355533!5m2!1sen!2sin" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</footer>



  </body>


